/* Additional Google Font inclusion if necessary */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

/* Using a font closer to what Apple might use, such as Helvetica Neue */
body,
html {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #fafafa;
    margin: 0;
    color: #333;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    /* Sets the height of the container to be 100% of the viewport height */
    max-width: 100%;
    overflow: hidden;
    /* Prevents overflow */
}


.h-70 {
    min-height: 70vh;
    max-height: 70vh;
    /* 70% of the viewport height */
}

.h-30 {
    min-height: 30vh;
    max-height: 30vh;
    /* 30% of the viewport height */
}

.row {
    display: flex;
    flex: 1;
    /* Each row will take equal height space */
    overflow: hidden;
    /* Prevents overflow */
}

.top-row {
    /* Organizes the container's children into a column */
    height: 600px;
}

.bottom-row {
    /* Organizes the container's children into a column */
    height: 300px;
}

.column-border {
    border-right: 1px solid #e0e0e0;
    padding: 15px;
    background-color: #f9f9f9;
}

.column-border h4 {
    margin-top: 0;
    padding-top: 20px;
    padding-left: 15px;
    font-size: 18px;
    font-weight: bold;
}

.border-bottom {
    border-bottom: 1px solid #e0e0e0;
}

#network {
    width: 100%;
    /* Full width of the column */
    min-height: 300px;
    /* Set a fixed height or make it responsive */
    /* border: 1px solid #ccc; */
    /* Optional: adds border around the graph */
}

#log-container {
    max-height: 70vh;
    overflow-y: auto;
    position: relative;
}

.log-message {
    background-color: #f9f9f9;
    /* Light grey background for slight emphasis */
    border-bottom: 1px solid #e0e0e0;
    /* Softer border color */
    color: #333;
    /* Keeping the text color dark for better contrast */
    padding: 10px 15px;
    /* Increased padding for better spacing */
    font-size: 16px;
    /* Good size for readability */
    font-weight: 500;
    /* Slightly bolder font for emphasis */
    animation: fadeIn 0.3s ease-in-out;
    /* Keeping your animation */
    transition: background-color 0.3s ease;
    /* Smooth transition for hover effect */
}

.log-message:hover {
    background-color: #e8e8e8;
    /* Slightly darker on hover to indicate interactivity */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#notification-container {
    max-height: 70vh;
    overflow-y: auto;
    position: relative;
}

.notification {
    background-color: #f9f9f9;
    /* Light gray background for notifications */
    border-left: 5px solid #007BFF;
    /* Blue left border for visual accent */
    padding: 10px;
    /* Padding inside each notification */
    margin-bottom: 8px;
    /* Space between notifications */
    font-size: 14px;
    /* Sufficient font size for readability */
    color: #333;
    /* Dark gray text for contrast */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    /* Subtle shadow for depth */
    animation: fadeIn 0.3s ease-in-out;
}

.notification:hover {
    background-color: #eef2f7;
    /* Lighter on hover for interactivity indication */
    cursor: pointer;
    /* Show that it's clickable */
}

.issue-id {
    font-weight: bold;
    /* Makes it stand out on its own line */
}

.issue-name {
    font-weight: bold;
    color: #dc3545;
    display: block;
    /* Makes it stand out on its own line */
}

.issue-fired-at {
    display: block;
    /* Makes timestamp appear on a new line */
    color: #666;
    /* Subdued color for less emphasis */
    font-size: 12px;
    /* Smaller font size */
    margin-top: 5px;
    /* Space from the main message */
    font-style: italic;
    /* Italicize to differentiate from main content */
}

.notification-balloon {
    position: relative;
    background: #efefef;
    /* A soft gray background */
    color: #333;
    /* Darker text for readability */
    border-radius: 18px;
    /* Smooth, rounded corners for the balloon */
    padding: 15px 20px;
    /* Adequate padding for content */
    margin-bottom: 20px;
    /* Space out balloons */
    display: block;
    clear: both;
    max-width: 80%;
    word-wrap: break-word;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Positive and Negative background colors for speech balloons */
.notification-balloon.positive {
    background-color: #e8f5e9;
    /* Light green for positive sentiment */
}

.notification-balloon.negative {
    background-color: #ffebee;
    /* Light red for negative sentiment */
}

#playbooks-container {
    max-height: 70vh;
    overflow-y: auto;
    position: relative;
    /* Modern, readable font */
}

.playbook-card {
    background-color: #ffffff; /* Clean white background */
    border-left: 5px solid; /* Color will be set dynamically */
    padding: 10px 20px; /* Reduced vertical padding, maintained horizontal */
    margin-bottom: 10px; /* Slightly reduced space between cards */
    font-size: 14px; /* Slightly smaller font size */
    color: #333; /* Maintain dark text for contrast */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Refined shadow for subtle depth */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions for interactive effects */
    /* animation: slideInFromLeft 0.5s ease-out; */
    animation: fadeIn 0.3s ease-in-out; 
    /* Subtle shadow for depth */
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

/* .playbook-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
} */

.playbook-card:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.playbook-card h5 {
    margin-top: 0;
    margin-bottom: 5px; /* Reduced margin around the title */
    font-size: 16px; /* Larger font size for titles for better emphasis */
    font-weight: bold; /* Make title bold */
}

.playbook-card p {
    margin-top: 0;
    margin-bottom: 5px; /* Reduced margin around paragraphs */
    line-height: 1.2; /* Slightly tighter line height */
}

/* Specific status-based styles */
.playbook-card.pending {
    border-left: 5px solid #FFA500;
    /* Orange for pending */
}

.playbook-card.active {
    border-left: 5px solid #28a745;
    /* Green for active */
}

.playbook-card.failed {
    border-left: 5px solid #dc3545;
    /* Red for failed */
}

#business-container {
    height: 60vh;
    margin-top: 20px;
    padding: 20px;
}

.business-box {
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Center the content inside the boxes */
    padding: 10px;
    /* background-color: #f9f9f9;
    font-size: 16px;
    color: #333; */
}

/* .fixed-height-box {
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    padding: 10px;
    font-size: 16px;
    color: #333;
} */

.business-card {
    flex-basis: 30%;
    padding: 10px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
    text-align: center;
    /* height: 100% */
    /* Default background color */
}

.business-card:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
    /* More prominent shadow */
    background-color: #f8f8f8;
    /* Slight change in background color */
    transform: scale(1.03);
    /* Slightly larger on hover */
    opacity: 0.9;
    /* Slightly less opaque on hover */
}

.business-icon {
    width: 5vh;
    height: auto;
}

.business-info h3 {
    font-size: 25px;
    color: #333;
    padding-top: 25px;
}

.business-status {
    font-weight: bold;
    color: green;
    /* Change based on status */
}

/* #business-container {
    min-height: 200px;
}

.business-card {
    width: 100%;
    /* Full width of the column */
    min-height: 300px;
    /* Set a fixed height or make it responsive */
    /* border: 1px solid #ccc; */
    /* Optional: adds border around the graph */
} */

.system-container {
    max-height: 70vh;
    margin-top: 20px;
    padding: 20px;
}

.fixed-height-box {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Center the content inside the boxes */
    background-color: #f9f9f9;
    padding: 10px;
    font-size: 16px;
    color: #333;
}

.system {
    flex-basis: 30%;
    padding: 10px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
    text-align: center;
    /* Default background color */
}

.system:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
    /* More prominent shadow */
    background-color: #f8f8f8;
    /* Slight change in background color */
    transform: scale(1.03);
    /* Slightly larger on hover */
    opacity: 0.9;
    /* Slightly less opaque on hover */
}

.system-icon {
    width: 50px;
    height: auto;
}

.system-info h3 {
    font-size: 18px;
    color: #333;
}

.system-status {
    font-weight: bold;
    color: green;
    /* Change based on status */
}

.details-button {
    background-color: #0056b3;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
}

.details-button:hover {
    background-color: #004080;
}


table {
    max-width: 420px;
    max-height: 420px;
    width: 85vw;
    /* 85% of the viewport (body) width */
    height: 85vw;
    border-spacing: 4px 2px;
    /* Space between cells */
}

td {
    padding: 0;
    width: 33%;
    /* Every cell should be 1/3 of table height (and width) */
    height: 33%;
}

.cell {
    font-size: 3.4em;
    font-size: 16vmin;
    /* Responsive font size! Awesome! */
    height: 100%;
    /* Fill the container (td) */
    width: 100%;
}

/* Hover effect for all interactive elements */
.button,
.interactive {
    transition: background-color 0.3s ease;
}

.button:hover,
.interactive:hover {
    background-color: #dedede;
    /* Subtle hover effect */
}